<h1 id="toc_0">Positive Lambda</h1>

<h3 id="toc_1">Функциональность сайта:</h3>

<p>Вступление: Идея проекта взята с виденного когда-то девелоперы говорят, когда разные забавные фразы высвечивались в красивом шрифте, и на разном фоне. Теперь было бы хорошо создать сайт, просто с позитивными или мудрыми фразами (цитатами), высвечивающимися в том же духе.</p>

<p>Легенда:<br/>
  Обязательный функционал <strong>A</strong> <br/>
  Всякий nice to have <strong>B</strong></p>

<h3 id="toc_2">Описание функционала</h3>

<ul>
  <li><strong>A</strong> Авторизация

    <ul>
      <li><strong>A</strong> Регистрация пользователя, при помощи создания пользователя через интерфейс сайта</li>
      <li><strong>A</strong> Авторизация при помощи созданного пользователя (email + password)</li>
      <li><strong>B</strong> Авторизация и регистрация при помощи социальных сетей и OAuth</li>
    </ul></li>
  <li><strong>A</strong> Личный кабинет

    <ul>
      <li><strong>A</strong> Управление цитатами (фразами) (CRUD)

        <ul>
          <li><strong>A</strong> Управление комментариями к цитате</li>
          <li><strong>B</strong> Экспорт цитаты в соц сеть</li>
          <li><strong>B</strong> Копирование цитаты в </li>
        </ul></li>
      <li><strong>B</strong> Загрузка цитат в виде CSV/Excel</li>
      <li><strong>A</strong> Редактирование своего профиля</li>
      <li><strong>B</strong> Gravatar</li>
    </ul></li>
  <li><strong>A</strong> Главный экран (одна цитата)

    <ul>
      <li><strong>A</strong> Включение комментариев</li>
      <li><strong>A</strong> От лица разместившего цитату управление (поменять шрифт, текст &hellip;)</li>
    </ul></li>
  <li><strong>B</strong> Вид блога </li>
  <li><strong>B</strong> Рассылка новостей, цитаты дня&hellip;</li>
  <li><strong>B</strong> Поддержка мультиязычности</li>
</ul>

<h3 id="toc_3">Разработчики</h3>

<p>Гураль Роман - 7Silvan<br/>
  Жирков Антон - Kinnarts<br/>
  Панченко Вадим - antispin<br/></p>

<h3 id="toc_4">Database design <a href="https://my.vertabelo.com/public-model-view/TEDeKvA3uXESdZJMjMu36dIAmP23cvTuM7lKkgZEZ7VptB5UUUdz3iHmAzIc4zDb?x=3312&amp;y=3359&amp;zoom=0.75">link</a></h3>

<iframe frameborder="1" height="600px" width="800px" src="https://my.vertabelo.com/v/TEDeKvA3uXESdZJMjMu36dIAmP23cvTuM7lKkgZEZ7VptB5UUUdz3iHmAzIc4zDb?x=3312&y=3359&zoom=0.75"></iframe>
