h1#toc_0
  | Positive Lambda
h3#toc_1
  | Функциональность сайта:
p
  | Вступление: Идея проекта взята с виденного когда-то девелоперы говорят, когда разные забавные фразы высвечивались в красивом шрифте, и на разном фоне. Теперь было бы хорошо создать сайт, просто с позитивными или мудрыми фразами (цитатами), высвечивающимися в том же духе.
p
  | Легенда:
  br
  |  Обязательный функционал 
  strong
    | A
  br
  |  Всякий nice to have 
  strong
    | B
h3#toc_2
  | Описание функционала
ul
  li
    strong
      | A
    |  Авторизация 
    ul
      li
        strong
          | A
        |  Регистрация пользователя, при помощи создания пользователя через интерфейс сайта
      li
        strong
          | A
        |  Авторизация при помощи созданного пользователя (email + password)
      li
        strong
          | B
        |  Авторизация и регистрация при помощи социальных сетей и OAuth
  li
    strong
      | A
    |  Личный кабинет 
    ul
      li
        strong
          | A
        |  Управление цитатами (фразами) (CRUD) 
        ul
          li
            strong
              | A
            |  Управление комментариями к цитате
          li
            strong
              | B
            |  Экспорт цитаты в соц сеть
          li
            strong
              | B
            |  Копирование цитаты в 
      li
        strong
          | B
        |  Загрузка цитат в виде CSV/Excel
      li
        strong
          | A
        |  Редактирование своего профиля
      li
        strong
          | B
        |  Gravatar
  li
    strong
      | A
    |  Главный экран (одна цитата) 
    ul
      li
        strong
          | A
        |  Включение комментариев
      li
        strong
          | A
        |  От лица разместившего цитату управление (поменять шрифт, текст …)
  li
    strong
      | B
    |  Вид блога 
  li
    strong
      | B
    |  Рассылка новостей, цитаты дня…
  li
    strong
      | B
    |  Поддержка мультиязычности
h3#toc_3
  | Разработчики
p
  | Гураль Роман - 7Silvan
  br
  |  Жирков Антон - Kinnarts
  br
  |  Панченко Вадим - antispin
  br
h3#toc_4
  | Database design 
  a[href="https://my.vertabelo.com/public-model-view/TEDeKvA3uXESdZJMjMu36dIAmP23cvTuM7lKkgZEZ7VptB5UUUdz3iHmAzIc4zDb?x=3312&amp;y=3359&amp;zoom=0.75"]
    | link
iframe[frameborder="1" height="600px" width="800px" src="https://my.vertabelo.com/v/TEDeKvA3uXESdZJMjMu36dIAmP23cvTuM7lKkgZEZ7VptB5UUUdz3iHmAzIc4zDb?x=3312&y=3359&zoom=0.75"]
